<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.imslpdroid" android:versionName="1.1" android:versionCode="3">
	<uses-sdk android:minSdkVersion="4" />

	<application android:icon="@drawable/launcher"
		android:label="@string/app_name" android:debuggable="true">
		<activity android:name=".ImslpdroidActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ComposersActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".PiecesActivity" android:label="@string/pieces">
		</activity>

		<activity android:name=".ScoresActivity" android:label="@string/scores">
		</activity>

		<activity android:name=".DownloadedActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".PreferencesActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".ScoreDownloadActivity"
			android:label="@string/app_name">
		</activity>

		<activity android:name=".AboutAppActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".CameraActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".WorkTypesActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".InstrumentationActivity"
			android:label="@string/app_name">
		</activity>

		<activity android:name=".TimePeriodActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".RestrictedComposersActivity"
			android:label="@string/app_name">
		</activity>

		<activity android:name=".TweetActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".NationalityActivity" android:label="@string/app_name">
		</activity>

		<activity android:name="ImageActivity" android:label="@string/app_name">
		</activity>

		<!-- <uses-library android:name="android.test.runner" /> -->
		<activity android:name="com.google.ads.AdActivity"
			android:configChanges="keyboard|keyboardHidden|orientation" />

		<intent-filter>
			<action android:name="android.intent.action.VIEW"></action>
			<category android:name="android.intent.category.DEFAULT"></category>
			<category android:name="android.intent.category.BROWSABLE"></category>
			<data android:host="imslpdroid" android:scheme="twitt"></data>
		</intent-filter>

	</application>
	<!-- <instrumentation android:targetPackage="com.imslpdroid" android:name="android.test.InstrumentationTestRunner" 
		/> -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- <uses-feature android:name="android.hardware.camera" /> <uses-feature 
		android:name="android.hardware.camera.autofocus" /> -->
</manifest>